*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: normal;
  color: #272727;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.container_l {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

/* ------------------------------------------------------------- */

.header {
  margin-bottom: 20px;
}

.header__top {
  background-color: #FF8A1E;
  padding: 11px 10px 14px;
}

.header__top-text {
  display: block;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 500;

}

.header__inner {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger-img {
  height: 30px;
  width: 30px;
}

.header__title {
  font-size: 24px;
  font-weight: 600;
  padding: 0 10px;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header__link-img {
  width: 30px;
  height: 30px;
}

/* ------------------------------------------------------------- */

.top-block {
  margin-bottom: 20px;
}

.top-block__inner {
  max-width: 470px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 16px;
}

.top-block__inner video {
  width: 100%;
  margin-bottom: -2%;
}

/* --------------------------------------------------------- */

.raiting {
  margin-bottom: 30px;
}

.raiting__body {
  margin: 0 auto;
  max-width: 284px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.raiting__info {
  font-size: 14px;
  font-weight: 400;
}

.raiting__img {
  max-width: 73px;
}

/* --------------------------------------------------------- */

.slogan {
  margin-bottom: 20px;
}

.slogan__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 32px;
}

.slogan__inner-item {
  font-weight: 400;
}

.slogan__inner-item-2 {
  font-weight: 500;
}

.slogan__inner-item-3 {
  font-weight: 700;
}

/* --------------------------------------------------------- */

.top-slider-block {
  margin-bottom: 20px;
}

.top-slider-block__inner {
  position: relative;
  max-width: 336px;
  margin: 0 auto;
}

.main-slider {
  max-width: 306px;
  margin: 0 auto;
}

.custom-slide__arrow--prev,
.custom-slide__arrow--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.custom-slide__arrow--prev {
  left: 0;
  background-image: url(../img/left-arrow.svg);
}

.custom-slide__arrow--next {
  right: 0;
  background-image: url(../img/right-arrow.svg);
}

/* --------------------------------------------------------- */

.stat-block {
  margin: 0 auto 20px;
}

.stat-block__inner {
  max-width: 306px;
  width: 100%;
}

.stat-block__stat-1,
.stat-block__stat-down {
  display: flex;
  align-items: center;
  background-color: #F4F0F0;
  border-radius: 16px;
  padding: 8px 10px;
  width: fit-content;
  gap: 7px;
  flex-wrap: nowrap;
}

.stat-block__stat-1 {
  margin-bottom: 8px;
}

.stat-block__stat-1 img,
.stat-block__stat-down img {
  width: 20px;
  height: 20px;
}

.stat-block__stat-1 span,
.stat-block__stat-down span {
  font-size: 10px;
  font-weight: 400;
}

.stat-block__footer {
  display: flex;
  align-items: center;
  column-gap: 12px;
  row-gap: 8px;
}

/* --------------------------------------------------------- */

.price {
  margin-bottom: 26px;
}

.price__inner {
  margin-left: 20px;
}

.price__title {
  font-size: 32px;
  font-weight: 600;
}

.price__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 277px;
}

.price__old {
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}

.price__new {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.price__sale {
  display: block;
  padding: 5px 10px;
  background-color: #FF8A1E;
  border-radius: 36px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}

.price__raiting {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

.price__raiting img {
  width: 125px;
}

.price__raiting p {
  font-size: 10px;
  font-weight: 400;
}

.price__deliveri-items {
  margin-bottom: 26px;
}

.price__deliveri-item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.price__deliveri-item:first-child {
  margin-bottom: 6px;
}

.price__deliveri-item img {
  width: 20px;
}

.price__deliveri-item p {
  color: #000;
  font-size: 10px;
  font-weight: 400;
}

/* --------------------------------------------------------- */

.price__color-block {
  margin-bottom: 20px;
}

.sizes__title {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.price__color-block__inputs {
  border: none;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.price__color-block__inputs input {
  display: none;
}

.price__color-block label {
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  border-radius: 23px;
  border: 1px solid #000;
  cursor: pointer;
}

.price__color-block label:last-child {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  border-radius: 23px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  background-color: #D9D9D9;
}

.price__color-block__inputs input:checked+label {
  background-color: #07000B;
  color: #ffffff;
}

.price__color-block label:last-child {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  border-radius: 23px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  background-color: #D9D9D9;
}

/* --------------------------------------------------------- */

.price__smartphone-block {
  margin-bottom: 20px;
}

.smartphone__title {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.price__smartphone-block__inputs {
  border: none;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.price__smartphone-block__inputs input {
  display: none;
}

.price__smartphone-block label {
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  border-radius: 23px;
  border: 1px solid #000;
  cursor: pointer;
}

.price__smartphone-block__inputs input:checked+label {
  background-color: #07000B;
  color: #ffffff;
}

/* --------------------------------------------------------- */

.sale-timer {
  margin-bottom: 20px;
}

.sale-timer__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sale-timer__inner-info {
  font-size: 20px;
  font-weight: 600;
}

.sale-timer__inner-timer {
  color: #F0C862;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

/* --------------------------------------------------------- */

.btn-box {
  margin-bottom: 25px;
}

.buy-btns {
  width: 100%;
  margin: 0 auto;
  max-width: 424px;
}

.buy-btns__buy {
  border-radius: 12px;
  background: linear-gradient(90deg, #61F089 0%, #61EDCB 100%);
  display: flex;
  width: 100%;
  padding: 13px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
}

.buy-btns__buy:hover {
  background: linear-gradient(90deg, #61EDCB 0%, #61F089 100%);
}

/* ------------------------------------------------------------- */

.pay-services {
  margin-bottom: 50px;
  text-align: center;
}

.pay-services-img {
  max-width: 465px;
}

/* --------------------------------------------------------- */

.accordion-box {
  margin-bottom: 30px;
  font-family: Montserrat;
}

.accordion__item {
  background: #F4F0F0;
  padding: 11px 20px 7px 32px;
  margin-bottom: 25px;
  border-radius: 16px;
}

.accordion__item:not(:first-child) {
  margin-top: 20px;
}

.accordion__header {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 43px;
}

.accordion__header p {
  padding-right: 35px;
}

#accordion__header-1::before,
#accordion__header-2::before,
#accordion__header-3::before,
#accordion__header-4::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

#accordion__header-1::before {
  background-image: url(../img/truck.svg);
}

#accordion__header-2::before {
  background-image: url(../img/shield.svg);
}

#accordion__header-3::before {
  background-image: url(../img/check-circle.svg);
}

#accordion__header-4::before {
  background-image: url(../img/settings.svg);
}


.accordion__header::after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  background-image: url(../img/accordion-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 27px;
  height: 27px;
  transition: all 0.2s linear 0s;
}

.accordion__header.active::after {
  transform: translateY(-50%) rotate(0deg);
}

.accordion__body {
  margin-top: 11px;
  max-width: 450px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out 0s;
  font-size: 14px;
  font-weight: 400;
}

.accordion__body_description-img {
  margin-bottom: 22px;
}

.accordion__body_description ul {
  list-style: disc;
  margin-left: 20px;
}

.accordion__header.active+.accordion__body {
  max-height: 450px;
}

.accordion__footer {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width:521px) {
  .accordion__header {
    padding-left: 29px;
  }

  .accordion__header p {
    max-width: 350px;
  }

  .accordion-box {
    padding: 22px 11px 7px 11px;
  }
}

@media (max-width:411px) {
  .accordion__header p {
    max-width: 300px;
  }
}

@media (max-width:387px) {
  .accordion__header p {
    max-width: 270px;
  }
}

/* --------------------------------------------------------- */

.second-slider-block {
  margin-bottom: 56px;
}

.second-slider-block__inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.second-slider {
  max-width: 530px;
  padding: 0 30px;
  margin: 0 auto;
}

.second-slider__arr--prev,
.second-slider__arr--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.second-slider__arr--prev {
  left: 0;
  background-image: url(../img/left-arrow.svg);
}

.second-slider__arr--next {
  right: 0;
  background-image: url(../img/right-arrow.svg);
}

.second-lider__video-wrapp video {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

/* --------------------------------------------------------- */

.control {
  margin-bottom: 62px;
}

.control__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.control__title {
  font-size: 32px;
  font-weight: 600;
  max-width: 320px;
}

.control__text {
  max-width: 408px;
  font-size: 20px;
  font-weight: 400;
}

/* ------------------------------------------------------------- */

.review {
  margin-bottom: 60px;
}

.review__title {
  border-radius: 16px;
  background: #F4F0F0;
  padding: 7px 5px 10px;
}

.review__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.review__list-item {
  border-radius: 16px;
  background: #F4F0F0;
  padding: 15px 15px 6px;
  overflow: hidden;
}

.review__list-item>img {
  margin: -15px -15px 10px -15px;
  width: calc(100% + 30px);
}

.review-img {
  margin-bottom: 7px;
}

.review-item-info {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 15px;
}

.review-item-info-name {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.review-stars {
  max-width: 125px;
}

.review__item-name {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.review-text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.review-very {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: auto;
}

.review-very img {
  width: 20px;
}

.review-very span {
  color: #000;
  font-size: 10px;
  font-weight: 400;
}

/* --------------------------------------------------------- */

.footer {
  border-radius: 16px;
  background: #F4F0F0;
  padding: 20px 30px;
}

.footer__nav {
  margin-bottom: 24px;
}

.footer__nav_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav_nav a {
  font-size: 10px;
  font-weight: 400;
}

.footer__form_ttl {
  color: #575551;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.footer__form_input {
  border-radius: 16px;
  background: #FFF;
  width: 100%;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
  padding: 15px;
}

.footer__form_btn {
  width: 100%;
  color: #575551;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 21px;
  padding: 12px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #575551;
}

.footer__form_btn:hover {
  background-color: transparent;
}

.footer__info {
  margin-top: 21px;
}

.footer__info_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__info_nav span {
  font-style: normal;
  line-height: normal;
  color: #575551;
  font-size: 14px;
  font-weight: 400;
}

.footer__logo-img {
  max-width: 88px;
}

/* --------------------------------------------------------- */


.fixed {
  color: #575551;
  margin-top: 30px;
  border-radius: 12px;
  background: linear-gradient(90deg, #61F089 0%, #61EDCB 100%);
  text-align: center;
  padding: 15px 30px;
  display: inline-block;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 560px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
}

.fixed {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
}

.fixed-btn__text {
  text-transform: uppercase;
  font-size: 25px;
}

@media (max-width: 327px) {
  .btnBlcok__flex {
    width: 90%;
  }
}


@media (max-width: 327px) {
  .btnBlcok__flex {
    width: 90%;
  }
}

.fixedBtn-price.price__new {
  font-size: 26px;
}

.footer {
  margin-top: 25px;
  margin-bottom: 80px;
}

.footer__info_btnBlock {
  text-align: center;
}

.footer__info_btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  padding: 6px 18px;
  margin: 15px 0;
  cursor: pointer;
}

.footer__info_text {
  opacity: 1;
  text-align: center;
  font-size: 8px;
  margin-bottom: 15px;
  color: #000;
}

.footer__info_text .dots {
  display: block;
  color: var(--text);
  text-align: center;
  font-size: 8px;
}

.footer__info_text .text {
  display: none;
}

.footer__info_text.show .text {
  display: block;
  text-align: center;
  font-size: 8px;
  display: block;
}

.footer__info_text.show .dots {
  display: none;
}